node_modules/
openapi/
google.log
.stackql/
stackql
stackql-zip
stackql-*.sh
creds.json
resources-report.csv
google-docs/
nohup.out
svcResp.tmp
debug.log
test/.stackql/
website/*/.shared-config/
.env
/.claude